In [295]:

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
sns.set(style="white", color_codes=True)

In [296]:
df= pd.read_csv("CC GENERAL.csv")

df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [298]:
df.isnull().any()

CUST_ID                             False
BALANCE                             False
BALANCE_FREQUENCY                   False
PURCHASES                           False
ONEOFF_PURCHASES                    False
INSTALLMENTS_PURCHASES              False
CASH_ADVANCE                        False
PURCHASES_FREQUENCY                 False
ONEOFF_PURCHASES_FREQUENCY          False
PURCHASES_INSTALLMENTS_FREQUENCY    False
CASH_ADVANCE_FREQUENCY              False
CASH_ADVANCE_TRX                    False
PURCHASES_TRX                       False
CREDIT_LIMIT                         True
PAYMENTS                            False
MINIMUM_PAYMENTS                     True
PRC_FULL_PAYMENT                    False
TENURE                              False
dtype: bool

In [299]:
df.fillna(df.mean(), inplace = True)
df.isnull().any()

CUST_ID                             False
BALANCE                             False
BALANCE_FREQUENCY                   False
PURCHASES                           False
ONEOFF_PURCHASES                    False
INSTALLMENTS_PURCHASES              False
CASH_ADVANCE                        False
PURCHASES_FREQUENCY                 False
ONEOFF_PURCHASES_FREQUENCY          False
PURCHASES_INSTALLMENTS_FREQUENCY    False
CASH_ADVANCE_FREQUENCY              False
CASH_ADVANCE_TRX                    False
PURCHASES_TRX                       False
CREDIT_LIMIT                        False
PAYMENTS                            False
MINIMUM_PAYMENTS                    False
PRC_FULL_PAYMENT                    False
TENURE                              False
dtype: bool

In [300]:
x = df.iloc[:,[1,2,3,4]] 
y = df.iloc[:,-1] 
print(x.shape, y.shape)

(8950, 4) (8950,)

In [301]:
# a. Apply PCA on CC GENERAL dataset.
pca = PCA(3)  
x_pca = pca.fit_transform(x) 
df2 = pd.DataFrame(data = x_pca, columns = ['principal component 1', 
                                                    'principal component 2', 'principal component 3'])
df3 = pd.concat([df2, df.iloc[:,-1]], axis = 1)
df3.head()

   principal component 1  principal component 2  principal component 3  TENURE
0           -1500.250819           -1114.178407             -64.989145      12
1            -592.910661            1914.657567            -151.542222      12
2             217.734556             905.144354            -291.615901      12
3             927.782551            -198.923616            -421.617772      12
4           -1310.548986            -359.591021            -132.892069      12

In [302]:
# b. Apply k-means algorithm on the original dataset
x = df3.iloc[:,0:-1]
y = df3.iloc[:,-1]
print(x.shape, y.shape)

(8950, 3) (8950,)

In [303]:

from sklearn.cluster import KMeans
# setting the number of clusters to 3
nclusters = 3 # this is k = 3 in kmeans

k_means = KMeans(n_clusters=nclusters)
k_means.fit(x)
y_cluster_kmeans = k_means.predict(x)

from sklearn import metrics
score = metrics.silhouette_score(x, y_cluster_kmeans)
print("Sihouette Score without PCA: ",score)

Sihouette Score without PCA:  0.6024089140994977

In [305]:
#c. Perform Scaling+PCA+K-Means and report performance
scaler = StandardScaler()
scaler.fit(x) 
x_scale = scaler.transform(x)

pca2 = PCA(3)
x_pca2 = pca.fit_transform(x_scale)

df4 = pd.DataFrame(data = x_pca2, columns = ['principal component 1',
                                  'principal component 2', 'principal component 3'])

final_df = pd.concat([df4, df[['TENURE']]], axis = 1)
final_df.head()

from sklearn.cluster import KMeans
nclusters = 3 # this is the k in kmeans
km = KMeans(n_clusters=nclusters)
km.fit(x_scale)

y_cluster_kmeans = km.predict(x_scale)
from sklearn import metrics
score = metrics.silhouette_score(x_scale, y_cluster_kmeans)
print(score)

0.5573894918696056

In [306]:

df_pd = pd.read_csv(r"pd_speech_features.csv")

In [307]:
df_pd.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

In [308]:
df_pd.isnull().any()

id                           False
gender                       False
PPE                          False
DFA                          False
RPDE                         False
                             ...
tqwt_kurtosisValue_dec_33    False
tqwt_kurtosisValue_dec_34    False
tqwt_kurtosisValue_dec_35    False
tqwt_kurtosisValue_dec_36    False
class                        False
Length: 755, dtype: bool

In [310]:
#a. to perform Scaling
scaler = StandardScaler()
x_scale = scaler.fit_transform(x)
#b. Applying PCA for k=3
pca = PCA(3)
x_pca = pca.fit_transform(x_scale)

principalDf = pd.DataFrame(data = x_pca, columns = ['principal component 1', 'principal component 2','Principal Component 3'])

finalDf = pd.concat([principalDf, df_pd[['class']]], axis = 1)
finalDf.head()

   principal component 1  principal component 2  Principal Component 3  class
0             -10.047372               1.471076              -6.846404      1
1             -10.637725               1.583749              -6.830976      1
2             -13.516185              -1.253543              -6.818700      1
3              -9.155084               8.833600              15.290905      1
4              -6.764470               4.611467              15.637124      1

In [311]:
#c. to use SVM and report performace

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=0)
from sklearn.svm import SVC
svm_classifier = SVC()
svm_classifier.fit(x_train, y_train)
y_pred = svm_classifier.predict(x_test)

print(classification_report(y_test, y_pred, zero_division=1))
print(confusion_matrix(y_test, y_pred))
acc_svc = accuracy_score(y_pred,y_test)
print('accuracy is',acc_svc)

#Calculate sihouette Score
score = metrics.silhouette_score(x_test, y_pred)
print("Sihouette Score: ",score)

              precision    recall  f1-score   support

           0       1.00      0.02      0.03        57
           1       0.75      1.00      0.86       170

    accuracy                           0.75       227
   macro avg       0.88      0.51      0.45       227
weighted avg       0.81      0.75      0.65       227

[[  1  56]
 [  0 170]]
accuracy is 0.7533039647577092
Sihouette Score:  0.8052538192732682

In [312]:
import math
import numpy as np
df_iris = pd.read_csv(r"Iris.csv")
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [313]:
df_iris.isnull().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [320]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)
from sklearn.preprocessing import StandardScaler
le = LabelEncoder()
y = le.fit_transform(y)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)
le = LabelEncoder()
y = le.fit_transform(y)
x_train_std = scaler.fit_transform(df.iloc[:,1:-1].values)

In [321]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_le = le.fit_transform(df.iloc[:,-1].values)

In [328]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
lda = LDA(n_components=2)
x_train = lda.fit_transform(x_train, y_train)
x_test = lda.transform(x_test)
print(x_train.shape,x_test.shape)

(105, 2) (45, 2)